:root {
  --main-color: rgb(136 58 204 / 90%);
  --main-color-degradate: rgba(136, 58, 204, 0.682);
  --title-color: #28e5ae;
  --turquoise: rgb(41 213 214 / 86%);
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  width: 100%;
  height: auto;
  max-height: 440px;
  object-fit: cover;
}
main {
  width: 100%;
  display: flex;
  margin-top: 3vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  right: 10px;
  width: 20%;
  height: calc(40px + 4px);
  background-color: var(--main-color);
  border: 1px solid transparent;
  color: rgba(240, 240, 240, 0.966);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}
.home {
  min-height: 120vh;
}

.search-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
#searcher-gifs {
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 75%;
  min-width: 400px;
}
.search-title {
  color: rgba(240, 240, 240, 0.966);
}
.search-title span {
  color: var(--main-color);
}
.search {
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 1rem;
  height: 40px;
  width: 60%;
  padding: 2px 23px 2px 10px;
  outline: 0;
  font-size: 1rem;
  background-color: #f5f5f5;
}

.list-gifs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: masonry;
  gap: 1vh 2vw;
  max-width: 1200px;
  min-height: 100vh;
}
.gif-container {
  position: relative;
  border: solid;
  border-color: var(--main-color-degradate);
}
.gif-container h2 {
  position: absolute;
  background-color: rgb(0 0 0 / 82%);
  color: rgb(255 255 255 / 81%);
  max-width: 240px;
  border-radius: 5px;
  padding: 2px;
  bottom: 10px;
  font-size: 1rem;
  z-index: 10;
}

.gif-container h2:hover {
  background-color: rgba(134, 124, 124, 0.82);
  color: rgb(255 255 255 / 81%);
}

.gif-container-background {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}
.gif-container-background:hover {
  background-color: rgba(25, 25, 26, 0.733);
}
.trending-home {
  padding-left: 15px;
}
.trending-list {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.trending-list-box {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(40px, 60px));
  gap: 15px 15px;
}

.trending-item {
  padding: 8px 20px;
  text-align: left;
  background-color: rgba(238, 89, 238, 0.815);
}
.trending-item:nth-child(odd) {
  background-color: var(--turquoise);
}
.trending-item:nth-child(even) {
  background-color: rgb(242 115 231);
}

.trending-item:nth-child(3n + 4) {
  background-color: rgb(223, 45, 134);
}
.trending-item:nth-child(5n) {
  background-color: rgb(223, 51, 171);
  color: rgb(27, 41, 33);
  font-weight: 700;
}
.trending-item a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}

.box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.box-title img {
  margin-top: 10px;
}
.title {
  margin: 1rem 15px;
  font-size: 2.5rem;
  color: var(--title-color);
}

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .list-gifs {
    grid-template-columns: repeat(2, 1fr);
  }
  .trending-list-box {
    grid-template-columns: repeat(2, 1fr);
  }
  button {
    font-size: 1.1rem;
    padding: 4px 6px;
  }
}

@media screen and (max-width: 600px) {
  .lazy-trending {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .trending-list-box {
    grid-template-columns: repeat(2, minmax(100px, 140px));
    justify-content: center;
  }
  #searcher-gifs {
    flex-direction: column;
  }
  button {
    margin-top: 10px;
    width: 25%;
  }
}

@media screen and (max-width: 450px) {
  .list-gifs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gif-container {
    width: 70%;
  }
}
